#!/bin/sh
{% set def_nic = ansible_default_ipv4.interface %}
/sbin/iptables -F
/sbin/iptables -t nat -F
/sbin/iptables -t mangle -F
/sbin/iptables -X
/sbin/iptables -P INPUT ACCEPT
/sbin/iptables -P OUTPUT ACCEPT
/sbin/iptables -P FORWARD DROP
{% for nic in ansible_interfaces %}
{% set ifacedata = hostvars[inventory_hostname]['ansible_' + nic] %}
{% if ifacedata.type == 'ether' and ifacedata.device != def_nic %}
{% if ifacedata.ipv4.address is defined %}
{% set ip_adr = ifacedata.ipv4.address %}
{% elif ifacedata.ipv4 is sequence %}
{% set ip_adr = ifacedata.ipv4[0].address %}
{% endif %}

/sbin/iptables -t nat -A PREROUTING -i {{nic}} -p udp --dport 123 -j REDIRECT --to-port 123
/sbin/iptables -t nat -A PREROUTING -i {{nic}} -p udp --dport 53 -j REDIRECT --to-port 53
/sbin/iptables -t nat -A PREROUTING -i {{nic}} -p tcp --dport 53 -j REDIRECT --to-port 53
/sbin/iptables -t nat -A POSTROUTING -o {{def_nic}} -j MASQUERADE -s {{ip_adr}}/24
/sbin/iptables -A FORWARD -i {{nic}} -j ACCEPT
/sbin/iptables -A FORWARD -o {{nic}} -m state --state RELATED,ESTABLISHED -j ACCEPT

{% endif %}
{% endfor %}
