server {
        listen 80 default_server;

        root /var/www/html;

        server_name _;

        location / {
                index index.html;
        }
        location /pub/ {
               autoindex on;
        }

}
