[Unit]
Description=zeek
Wants=network-online.target
After=network-online.target

[Service]
ExecStart={{zeek_dir}}/bin/zeekctl start
ExecStop={{zeek_dir}}/bin/zeekctl stop
Type=forking

[Install]
WantedBy=multi-user.target
